body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: grey;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 100;
  line-height: 22px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 50px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 6px;
}

.overview {
  margin-bottom: 22px;
}

.weather-temperature img {
  margin-right: 12px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  display: inline;
  line-height: 1;
  font-size: 64px;
  font-weight: 400;
}

.weather-temperature .temp-units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  text-decoration: none;
  cursor: default;
}

.weather-temperature .active:hover {
  color: darkorange;
  text-decoration: none;
  cursor: pointer;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-day {
  font-size: 16px;
}

.forecast-temprange {
  font-size: 13px;
}

.forecast-tempmin {
  opacity: 0.5;
}

.other-conditions {
  margin-top: 4px;
}

#description:first-letter {
  text-transform: capitalize;
}

#convert-metric,
#convert-imperial {
  text-decoration: none;
}

#footer-credits {
  text-align: center;
  color: darkgrey;
  font-size: 12px;
}
