body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 6px;
}

h1 {
  color: grey;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 100;
  line-height: 22px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
}

#footer-credits {
  text-align: center;
}
